<div class="row">

    <form class="col s12" name="userForm">
        <div class="col s2 ">
            <a class="waves-effect waves-light btn red" href="#shutdown" >退出服务</a>
        </div>
        <div class="input-field col s2 ">
            <input type="text" class="validate" id="userName"  ng-model="user.userName" required>
            <label for="userName">用户名</label>

        </div>
        <div class="input-field col s2">
            <input type="text" class="validate " id="passWord" ng-model="user.passWord" required>
            <label for="passWord">密码</label>

        </div>
        <div class="input-field col s2">
            <input type="text" class="validate" id="rootPath"  ng-model="user.rootPath">
            <label for="rootPath">主目录</label>
        </div>
        <div class="valign-wrapper col s3">
            <input type="submit" value="创建用户" class="waves-effect waves-light btn center-align" ng-click="addUser()"/>
        </div>
    </form>
</div>
<div class="row">
    <table class="highlight bordered responsive-table col s12" >
        <thead>
        <tr>
            <th class="col s2">用户名</th>
            <th class="col s2">密码</th>
            <th class="col s7">主目录</th>
            <th class="col s1">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users" ng-if="!user.delete">
            <td class="col s2">{{user.userName}}</td>
            <td class="col s2">{{user.passWord}}</td>
            <td class="col s6">{{user.rootPath}}</td>
            <td class="col s2 right" >
                <a class="waves-effect waves-light btn red right" ng-click="deleteUser(user.userName)" >删除</a>
            </td>
           </tr>
        </tbody>
    </table>
</div>

